<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lone Star Credit Union</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css'
    />
    <link rel='stylesheet' href='index.css' />
    <link rel='stylesheet' href='spinner.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js'></script>
    <script src='https://cdn.socket.io/4.5.0/socket.io.min.js'></script>
    <script src='https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js'></script>
    <script src='index.js'></script>
    <script>initWebSocket('{{wsUrl}}','{{trackingId}}')</script>
  </head>

  <body onload="generateStyledQrCode('{{qrCodeUrl}}')">
  {{!-- <body> --}}
    <div class="top-container" id="top-container">
      <div class="box1-top" id="box1-top">
        <img class="lonestar-logo" src="../images/lonestar-logo-5.png" alt="Lonestar logo">

        <div class="credential-description-box" id="credential-description-box">
          <section class="title-bonifii">Bonifii Credential</section>
          <section class="earn25" id="earn25">Earn $25</section>
          <p class="primary-description" id="primary-description">when you sign up with your Bonifii credential using GlobaliD</p>
        </div>
      </div>

      <div class="box2-top" id="box2-top">
        <div class="qr-code-container" id="qr-code-container"></div>
      </div>
    </div>

  <div class="bottom-container" id="bottom-container">
    <div class="box1-bottom">
      <p class="p1-bottom">Bonifii is the trusted verification partner of Lone Star Credit Union.</p>
      <p class="p2-bottom">The Bonifii Bronze credential allows you to get started with Lone Star while providing the minimum amount of personal information</p>
      <ul class="logo-list">
        <li>
          <img class="image-list" src="../images/image_1.png" alt="Bonifii logo">
        </li>
        <li>
          <img class="image-list" src="../images/lonestar-logo-4.png" alt="Lone Star logo">
        </li>
        <li>
          <img class="image-list" src="../images/gid-logo.png" alt="Global ID logo">
        </li>
      </ul>
    </div>

    <div class="box2-bottom">
        <img class="image-bottom" src="../images/image_4.png" alt="people laughing">
    </div>
  </div>

  <div class="footer" id="footer">
    <p>2022 Lonestar Credit Union, All rights reserved</p>
  </div>
  </body>

</html>