<html>
  <head>
    <meta charset='utf-8' />
    <title>GlobaliD Connect Demo</title>
    <link rel='stylesheet' href='style.css' type='text/css' />
    <script src='index.js'></script>
    <script>functionThing('{{trackingId}}')</script>
  </head>
  <body class='flex-center-center flex-column'>
    <div class='brand'><img src='../gid-logo.svg' alt='GlobaliD logo' /></div>
    <div class='card'>
      <p class='card-label'>GlobaliD Connect Demo</p>
      <h1 class='card-title'>User Connected</h1>
      <div class='card-focus'>
        <p class='card-focus-text'>
          User successfully logged in with GlobaliD. You'll receive an authorization
          <code>code</code>
          that enables you to call GlobaliD's API.
        </p>
      </div>
      <div id='foo'></div>
      <div>{{trackingId}}</div>
      <h2>Identity</h2>
    </div>
  </body>
</html>