<html>
  <head>
    <meta charset='utf-8' />
    <title>GlobaliD Verification Demo</title>
    <link rel='stylesheet' href='style.css' type='text/css' />
    <link rel='stylesheet' href='spinner.css' type='text/css' />
    <script src='websocket.js'></script>
    <script>webSocketHandler('{{trackingId}}')</script>
  </head>
  <body class='flex-center-center flex-column'>
    <div class='brand'><img src='../gid-logo.svg' alt='GlobaliD logo' /></div>
    <div id='main-card' class='card'>
      <p class='card-label'>Verifier agent Demo</p>
      <h1 class='card-title'>Verifiable Presentation Request</h1>
      <div class='card-focus'>
        <p class='card-focus-text'>
          Scan the QR with your GlobaliD mobile app
        </p>
      </div>
      <img id="qr-code" class='qr-code' src={{qrCode}} />
    </div>
  </body>
</html>
