<html>
  <head>
    <meta charset='utf-8' />
    <title>NestJS GlobaliD Connect Demo</title>
    <LINK REL='StyleSheet' HREF='./style.css' TYPE='text/css' />
  </head>
  <body class='flex-center-center flex-column'>
    <div class='page-header'><img src='./assets/gid-logo.svg' alt='GlobaliD logo' /></div>
    <div class='display-card round'>
      {{#each results.attestations}}
        {{attestee}}
      {{/each}}
    </div>
  </body>
</html>