<html>
  <head>
    <meta charset='utf-8' />
    <title>NestJS GlobaliD Connect Demo</title>
    <link REL='StyleSheet' HREF='./style.css' TYPE='text/css' />
  </head>
  <body class='flex-center-center flex-column'>
    <div class='page-header'><img src='./assets/gid-logo.svg' alt='GlobaliD logo' /></div>
    <div class='display-card round'>
      <div class='card-content-box'>
        <p class='card-label'>Demo App</p>
        <h1 class='card-title'>GlobaliD connect node demo</h1>
        <p class='card-focus-text'>Dolor sit amet discovered siamesecalico peaceful her Gizmo peaceful boy rutrum
          caturday enim lived quis Mauris sit malesuada</p>
        {{#each results.attestations}}
          {{attestee}}
        {{/each}}
      </div>
    </div>
  </body>
</html>