<html>
  <head>
    <meta charset='utf-8' />
    <title>GlobaliD Connect Demo</title>
    <link rel='stylesheet' href='./style.css' type='text/css' />
  </head>
  <body class='flex-center-center flex-column'>
    <div class='brand'><img src='./gid-logo.svg' alt='GlobaliD logo' /></div>
    <div class='card card-verifications'>
      <p class='card-label'>Demo App</p>
      <h1 class='card-title'>GlobaliD Connect Demo</h1>
      <p class='card-focus-text'>Vitae consequat or autem so consequuntur so ullam, for velit.</p>
      <a class='button' href='{{connectUrl}}'>Log in with GlobaliD</a>
    </div>
  </body>
</html>