@font-face {
  font-family: Averta;
  src: url(./averta/Averta.woff);
  color: #101010;
}

body {
  background-color: #e5e5e5;
  font-family: Averta;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  margin-top: 2.25rem;
  margin-bottom: 4.69em;
}

.flex-column {
  flex-direction: column;
}

.card-title {
  font-size: 2.25rem;
  font-weight: 600;
}

.card-label {
  font-size: 1rem;
  font-weight: 700;
}

.card-focus-text {
  color: #646466;
  margin-top: 0;
  flex-grow: 1;
}

.round {
  border-radius: 8px;
}

.full-round {
  border-radius: 9999px;
}

.display-card {
  display: flex;
  background-color: white;
  justify-content: center;
  height: 14.75rem;
  width: 38.25rem;
  padding: 3rem;
}

.card-content-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.action-button,
.action-button:visited {
  color: white;
  width: 11rem;
  background-color: #0d51ff;
  text-decoration: none;
  padding: 0.63rem 1.25rem;
  align-self: center;
}
