@font-face {
  font-family: Averta;
  src: url(./averta/Averta.woff);
  color: #101010;
}

@font-face {
  font-family: Averta-SemiBold;
  src: url(./averta/AvertaSemiBold.woff);
  color: #101010;
}

body {
  background-color: #e5e5e5;
  font-family: Averta;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  margin-top: 2.25rem;
  margin-bottom: 4.69em;
}

.flex-column {
  flex-direction: column;
}

.card-label {
  font-family: Averta-SemiBold;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.card-title {
  font-size: 2.25rem;
  font-weight: 600;
}

.card-focus-text {
  color: #646466;
  margin-top: 0;
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 2rem;
}

.round {
  border-radius: 8px;
}

.full-round {
  border-radius: 9999px;
}

.display-card {
  display: flex;
  background-color: white;
  justify-content: center;
  width: 35rem;
  padding: 2rem;
}

.card-content-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.action-button,
.action-button:visited {
  color: white;
  background-color: #0d51ff;
  text-decoration: none;
  padding: 0.63rem 1.25rem;
  align-self: center;
}

/****************** Styles for results go HERE ******************/
.border-row {
  border-top: solid 1px black;
}

.cell {
  text-align: left;
}
