@keyframes rotateClockwise {
  0% {transform: rotate(360deg);}
}

@keyframes rotateCounterClockwise {
  0% {transform: rotate(-360deg);}
}

.cockwise-rotation {
  animation: rotateClockwise 1.5s ease-in-out infinite;
  transform-origin: center;
}
.counter-cockwise-rotation {
  animation: rotateCounterClockwise 1.5s ease-in-out infinite;
  transform-origin: center;
}
