@font-face {
  font-family: Averta;
  src: url(./fonts/Averta.woff);
  color: #101010;
}

@font-face {
  font-family: Averta-SemiBold;
  src: url(./fonts/AvertaSemiBold.woff);
  color: #101010;
}

.brand {
  margin-bottom: 2.69em;
  margin-top: 2.25rem;
}

.button,
.button:visited {
  align-self: center;
  background-color: #0d51ff;
  border-radius: 9999px;
  color: white;
  min-width: 10rem;
  padding: 0.63rem 1.25rem;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  min-width: 55rem;
}

.card-label {
  font-family: Averta-SemiBold;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.card-subtitle {
  color: #646466;
  font-weight: normal;
  margin-top: 0;
}

.card-title {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

.confirm-msg {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 1.875rem;
  text-align: center;
  color: #000000;
  width: 16.25rem;
  margin: 0 auto;
  margin-top: 2.813rem;
}

.error-message {
  background-color: #ffa30a19;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 1.5rem;
  padding: 1rem;
  padding-left: 1.75rem;
  text-align: left;
}

.error-icon {
  width: 1.875rem;
  padding-right: 1.563rem;
}

.loading-wrapper {
  /* border: 1px solid #e5e5e5;
  width: 44%;
  margin: 0 auto;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem; */

  margin: 0 0;
  width: 15rem;
  margin-bottom: 2.5rem;
}

.qr-code {
  margin-left: 14%;

  /* Border / Transparent 15% */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
} 

.qr-code-container {
  padding-left: 10px;
}

.qr-code-container p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 116% */

  /* text-align: center; */

  color: #A8A8A8;
}

.qr-code-container section {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  /* text-align: center; */

  /* Content / Secondary */

  color: #272727;
}

.top-container {
  height: 700px;
  object-fit:fill;
  margin: auto;
  background-image: url('../images/steven-pahel-YdokZeQ-XhA-unsplash.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-container {
  height: 800px;
  object-fit:fill;
  margin: auto;
}

.box1-top {
  width: 50%;
  height: 700px;
  background: #9A3530;
  float: left;
}

.box2-top {
  margin-left: 50%;
  height: 700px;
}

.box1-bottom {
  width: 50%;
  height: 700px;
  background: #FFFFFF;
  float: left;
}

.box2-bottom {
  margin-left: 50%;
  height: 700px;
  background: #FFFFFF;
}


.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lonestar-logo {
  display: block;
  margin-left: 23%;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 15%;

  width: 35%
}

.credential-description-box {
  padding-left: 23%;
}

.title-bonifii {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #FFFFFF;

  opacity: 0.6;
}

.earn25 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 78px;
  line-height: 101px;

  color: #FFFFFF;
}

.primary-description {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 29.1333px;
  line-height: 38px;
  max-width: 50%;

  color: #FFFFFF;
}

.p1-bottom {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 37.919px;
  line-height: 52px;
  /* or 137% */

  color: #000000;

  padding-top: 15%;
  padding-left: 23%;
  max-width: 50%;
}

.p2-bottom {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #000000;

  padding-left: 23%;
  max-width: 50%;
}

.image-bottom {
  padding-left: 2%;
  padding-top: 15%;
  border-radius: 25px;
}

.logo-list {
  list-style-type: none;
  padding-left: 23%;
  padding-top: 3%;
}

.logo-list li {
  float: left;
  padding-right: 35px;
}

.qr-code-container {
  height: 500px;
  background-color: #FFFFFF;

  width: 50%;

  margin-left: 27%;
  margin-top: 30px; /* Why doesn't this move the container down? */

  border-radius: 25px;
  
  /* margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;; */
}

.footer {
  text-align: center;
  border-top: solid #C9C9C9;
  color: #141516;
}