@font-face {
  font-family: Averta;
  src: url(./averta/Averta.woff);
  color: #101010;
}

@font-face {
  font-family: Averta-SemiBold;
  src: url(./averta/AvertaSemiBold.woff);
  color: #101010;
}

.attestations-table td:not(td:last-child) {
  width: 33%;
}

.brand {
  margin-bottom: 2.69em;
  margin-top: 2.25rem;
}

.button,
.button:visited {
  align-self: center;
  background-color: #0d51ff;
  border-radius: 9999px;
  color: white;
  min-width: 10rem;
  padding: 0.63rem 1.25rem;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  min-width: 55rem;
}

.card-focus {
  flex-grow: 1;
  margin: 0 auto;
}

.card-focus-text {
  color: #646466;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0;
  max-width: 57rem;
}

.card-label {
  font-family: Averta-SemiBold;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.card-title {
  font-size: 2.25rem;
  font-weight: 600;
}

.card-verifications {
  width: 35rem;
}

.message {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding: 16px;
  margin-bottom: 19px;
  border-radius: 8px;
}

.code {
  background-color: #F7F7F7;
}

.confirm-msg {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  width: 260px;
  margin: 0 auto;
  margin-top: 45px;
}

.error {
  display: flex;
  flex-direction: row;
  background-color: #FFA30A19;
  padding-left: 28px;
}

.error-icon {
  width: 30px;
  padding-right: 25px;
}

.flex-center-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.loading-asset {
  width: 15rem;
  margin: 0 auto;
}

.loading-wrapper {
  border: 1px solid #E5E5E5;
  width: 44%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.pii-table td:not(td:last-child) {
  width: 55%;
}

.qr-code {
  margin: 0 auto;
  width: 15rem;
  margin-bottom: 40px;
}

.spacer {
  height: 4rem;
}

.vertical-table th {
  width: 100%;
}

.vertical-table td:last-child {
  text-align: right;
}

.vertical-table tr:hover,
tr:nth-child(n + 2):hover {
  background-color: #f7f7f7;
}

body {
  background-color: #e5e5e5;
  font-family: Averta;
}

code {
  color: #153a9a;
  padding: 0 0.3rem;
  border-radius: 3px;
  background-color: rgba(100, 100, 102, 0.1);
}

h2 {
  text-align: left;
}

table {
  border-collapse: collapse;
  font-family: courier;
}

td,
th {
  border: 0;
  padding: 0.5rem;
  text-align: left;
  white-space: nowrap;
}

tr {
  border-top: solid 1px #e5e5e5;
}

tr:first-child {
  border: none;
}


@keyframes rotateClockwise {
  0% {transform: rotate(360deg);}
}

@keyframes rotateCounterClockwise {
  0% {transform: rotate(-360deg);}
}

.cockwise-rotation {
  animation: rotateClockwise 1.5s ease-in-out infinite;
  transform-origin: center;
}
.counter-cockwise-rotation {
  animation: rotateCounterClockwise 1.5s ease-in-out infinite;
  transform-origin: center;
}

.invisible {
  display: none;
}

.visible {
  display: inline;
}
