name: Test globalid-connect Node
on:
  push:
    branches:
      - '**'
    paths:
      - 'globalid-connect/node/**'
  workflow_dispatch:

jobs:
  test:
    name: Test Node ${{ matrix.node_version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: globalid-connect/node
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node_version:
          - 14
          - 16
          - 17
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v2
        with:
          registry-url: 'https://registry.npmjs.org/'
          node-version: ${{ matrix.node_version }}
          # https://github.com/actions/setup-node#caching-packages-dependencies
          cache: 'npm'
          cache-dependency-path: globalid-connect/node/package-lock.json
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm run build
      - run: npm test
      - run: npm run test:e2e
      